*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}


.header_insights{
    min-height: 100vh;
    width: 100%;
    background-color:  whitesmoke;
    background-position: center;
    background-size: cover;
    position: relative;
}
   
.nav{
    display: flex;
    padding: 8% 6%;
    justify-content:space-between;
    align-items: center;
    
}

nav img{ 
    width: 180px;
    margin-top: 30px;
}

@media (max-width:700px){
    img{ 
        margin-top:20px;
}
    
}


@media (max-width:700px){
    
.me{
    flex-wrap: wrap;
 
}
}


.nav-links{
    flex: 1;
    text-align: right;
    margin-top:-40px;
}

.nav-links ul li{
    list-style: none;
    display:  inline-block;
    padding: 18px 43px;
    position: relative;
    list-style: none;
}

.nav-links ul li a{
    color: rgb(62, 95, 124);
    text-decoration: none;
    font-size: 40;
    display: inline-flex;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(62, 95, 124);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 40%;
    color:rgb(62, 95, 124);
    position: absolute;
    top: 40%;
    left: 14%;
    transform: translate(-70%-30%);
    text-align: left;
}

.text-box h1{
    font-size: 29px;
}

.text-box h1{
    color: rgb(62, 95, 124);
}

.text-box p{
    margin: 30px 0 40px;
    font-size: 20px;
    color: rgb(62, 95, 124);
    
    
}

.me{
    width: 380px;
    align-items:left;
    clip-path: circle();
    position: relative;
    right: 15%;
        
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(62, 95, 124);
    border: 1px solid rgb(62, 95, 124);
    padding: 12px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px transparent ;
    background:transparent;
    transform: 1s;

}

nav .fa{
    display: none;
}

@media (max-width:700px){
    .text-box h1{
        font-size: 30px;
    } 
    .nav-links ul li{   
        display: block;
    }
    .nav-links{
        position: absolute;
        background: transparent;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 18px;
        cursor: pointer;
    
    }
    .nav-links ul{
        padding: 30px;

    }
}

/*--------------------Power BI Projects---------------------------------------------------------------------------------*/

.Data {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.Data h1{
    margin-top: 70px;
    color: rgb(62, 95, 124);
}
.data-col{
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
    text-align: left;

}

.data-col img{
    width:100%;
    border-radius: 10px;
    margin-top: 50px;
}

.data-col p{
    padding: 0;
}

 p{
    color:rgb(62, 95, 124);
    margin-top: 10%;
    
 
}

.data-col h3{
    margin-top: 50px;
    margin-bottom: 23%;
    text-align: left;
    color: rgb(62, 95, 124);
}

h3{
    color: #284975;
}

/*---------------------------------------------------------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 100px 0;
    
    
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 100px;
    font-weight: 600;
    color: #284975;
}

.icons .fa{
    color: #284975;
    margin: 0 53px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #284975;
}

